{% extends 'base.html' %}


{% block body %}
<div class="total-ads main-grid-border">
	<div class="container">
		<div class="select-box">

			<div class="clearfix"></div>
		</div>
		<div class="all-categories">
			<h3> Select your category and find the perfect ad</h3>
			<ul class="all-cat-list">
				{% for category in categorylist %}
				<li><a href="{% url 'product_list_category' category.slug %}">{{ category }}
						<span class="num-of-ads">({{ category.total_products }})</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<ol class="breadcrumb" style="margin-bottom: 5px;">
			<li><a href="/">Home</a></li>
			<li class="active">
				<a href="{% url 'product_list' %}">All Ads</a>
			</li>
			{% if category %}
			<li class="active">{{ category }}</li>
			{% endif %}
		</ol>
		<div class="ads-grid">
			<div class="side-bar col-md-3">
				<div class="search-hotel">
					<h3 class="sear-head">Search</h3>
					<form method="POST" action="{% url 'product_list' %}">
						{% csrf_token %}
						<input name = 'q' type="text" value="Product name..." required="">
						<input type="submit" value=" ">
					</form>
				</div>
			</div>
			<div class="ads-display col-md-9">
				<div class="wrapper">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
								<div>
									<div id="container">
										<div class="clearfix"></div>
										<ul class="list">
											{% for product in productlist %}
											<a href="{% url 'product_detail' product.slug %}">
												<li>
													<img src="{{ product.image.url }}" title="" alt="" />
													<section class="list-left">
														<h5 class="title">{{ product.name }}</h5>
														<span class="adprice">${{ product.price }}</span>
														<p class="catpath">{{ product.brand }}</p>
													</section>
													<section class="list-right">
														<span class="date">Date, {{ product.created }}</span>
														<span class="cityname">City name</span>
													</section>
													<div class="clearfix"></div>
												</li>
											</a>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>

							{% if productlist.has_other_pages %}

							<ul class="pagination pagination-sm">
								{% if productlist.has_previous %}
								<li><a href="?page={{ productlist.previous_page_number }}">Prev</a></li>
								{% else %}
								<li class="disabled"></li>
								{% endif %}

								{% for pages in productlist.paginator.page_range %}
								{% if productlist.number == pages %}
								<li><a href="#">{{ pages }}</a></li>
								{% else %}
								<li><a href="?page={{ pages }}">{{ pages }}</a></li>
								{% endif %}
								{% endfor %}



								{% if productlist.has_next %}
								<li><a href="?page={{ productlist.next_page_number }}">Next</a></li>
								{% else %}
								<li class="disabled"></li>
								{% endif %}
							</ul>

							{% endif %}

						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endblock %}